.travelContainer {
    display: flex;
    border-right: 1px solid #d8dee8;
    background-color:#dfebff;

}

.travel__quotes {
    flex: 1;
}

.travel__locations {
    flex: 1;
}

.quote {
    height: 230px;
    border-top: 1px solid #d8dee8;
    margin: 0 .5em;
}

.location {
    height: 230px;
    border-top: 1px solid #d8dee8;
    margin: 0 .5em;
}

.quote__text {
    padding-left: 1em;
    font-style: italic;
}

.quote__author {
    text-align: right;
    font-weight: bold;
    padding-right: 1em;
    margin: 0;
    flex-basis: 48%;
    background-color: #d8dee8;
}

.quote__location {
    text-align: right;
    font-style: italic;
    padding-right: 1em;
    margin: 0;
    flex-basis: 48%;
    background-color: #d8dee8;
}

.location__image {
    margin: 1em;
    width: 120px;
}

.location__name {
    margin: 0;
    padding-left: 1em;
}

.location__geo {
    margin: 0;
    padding-left: 1em;
}